﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Компания 'ГЕОМАГМАСТИЛЬ' производит высококачественную мебель на заказ. У нас на сайте вы можете 
          ознакомиться c образцами кухонь, шкафов-купе и другой мебели." />
    <meta name="keywords" content="кухни в Минске, шкафы-купе в Минске, корпусная мебель на заказ, оклейка шпоном, покраска фасадов" />
    <title>@ViewBag.name</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-75601214-1', 'auto');
    ga('send', 'pageview');
    </script>
</head>
<body id="top" class="body-background" data-offset="40">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar-data" class="navbar-collapse collapse">
                <div id="logo" class="col-md-2 hidden-sm hidden-xs">
                    <img id="logo-img" src="/Files/logo.gif" alt="Геомагмастиль"/>
                </div>

                <div class="col-md-1 navbar-item-tablet">
                    <a class="hidden-xs" href="/CornerKitchen"><img src="/Files/Header/icon_1.png" alt="Кухни"/></a>
                    <ul>
                        <li id="kitchen" class="dropdown navbar-item nav-easy">
                            @Html.ActionLink("Кухни", "CornerKitchen", "Home")
                        </li>
                    </ul>
                </div>
                <div class="col-md-1 navbar-item-tablet">
                    <a class="hidden-xs" href="/DressingRoom"><img src="/Files/Header/icon_2.png" alt="Гардеробные" /></a>
                    <ul>
                        <li id="dressroom" class="dropdown navbar-item nav-easy"> 
                            @Html.ActionLink("Гардеробные", "DressingRoom", "Home")
                        </li>
                    </ul>
                </div>
                <div class="col-md-1 navbar-item-tablet">
                    <a class="hidden-xs" href="/Locker"><img src="/Files/Header/icon_3.png" alt="Шкафы-купе"/></a>
                    <ul>
                        <li id="locker" class="dropdown navbar-item nav-easy">
                            @Html.ActionLink("Шкафы-купе", "Locker", "Home")
                        </li>
                    </ul>
                </div>
                <div class="col-md-1 navbar-item-tablet">
                    <a class="hidden-xs" href="/LivingRoom"><img src="/Files/Header/icon_4.png" alt="Гостиные"/></a>
                    <ul>
                        <li id="room" class="dropdown navbar-item nav-easy">
                            @Html.ActionLink("Гостиные", "LivingRoom", "Home")
                        </li>
                    </ul>
                </div>
                <div class="col-md-1 navbar-item-tablet">
                    <a class="hidden-xs" href="/Trade"><img src="/Files/Header/icon_5.png" alt="Торговая мебель"/></a>
                    <ul>
                        <li id="trade" class="dropdown navbar-item nav-easy">
                            @Html.ActionLink("Торговая мебель", "Trade", "Home")
                        </li>
                    </ul>
                </div>
                <div class="col-md-1 navbar-item-tablet">
                    <a class="hidden-xs" href="/Office"><img src="/Files/Header/icon_6.png" alt="Офисная мебель"/></a>
                    <ul>
                        <li id="office" class="dropdown navbar-item nav-easy">
                            @Html.ActionLink("Офисная мебель", "Office", "Home")
                        </li>
                    </ul>
                </div>
                <div class="col-md-1 navbar-item-tablet">
                    <a class="hidden-xs" href="/Facade"><img src="/Files/Header/icon_8.png" alt="Дополнительные услуги"/></a>
                    <ul>
                        <li id="special" class="dropdown navbar-item nav-easy">
                            <a data-toggle="dropdown" class="dropdown-toggle">Доп услуги</a>
                            <ul role="menu" class="dropdown-menu">
                                <li>@Html.ActionLink("Раскрой + ПВХ", "PVC", "Home")</li>
                                <li>@Html.ActionLink("Фасады", "Facade", "Home")</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-1 navbar-item-tablet">
                    <a class="hidden-xs" href="/Price"><img src="/Files/Header/icon_7.png" alt="Цены"/></a>
                    <ul>
                        <li id="price" class="dropdown navbar-item nav-easy">
                            @Html.ActionLink("Цены", "Price", "Home")
                        </li>
                    </ul>
                </div>
                
                <div class="col-md-2 visible-lg visible-md">
                    <div id="info">
                        <h2 class="info-message">Обратная связь</h2>
                        <div class="header-icon velcom-header">+37544 6733574</div>
                        <div class="header-icon skype-header">geomagma.by</div>
                        <div class="header-icon email-header">alex@geomagma.by</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="carousel" class="container-fluid" style="position:relative; padding-top: 50px;">
        @RenderSection("CarouselSection")

            <div id="content" class="row" style="position:relative; padding-top: 35px;">

                <div id="mylist" class="list-group col-md-3 visible-lg">
                    <ul class="list-group-item">
                        <li class="it">@Html.ActionLink("Главная", "Index", "Home")</li>
                    </ul>
                    <ul class="list-group-item" onclick="ShowList(event);">
                        <li class="it">@Html.ActionLink("Кухни", "CornerKitchen", "Home")</li>
                    </ul>
                    <ul class="list-group-item" onclick="ShowList(event);">
                        <li class="it">@Html.ActionLink("Гардеробные", "DressingRoom", "Home")</li>
                    </ul>
                    <ul class="list-group-item" onclick="ShowList(event);">
                        <li class="it">@Html.ActionLink("Шкафы-купе", "Locker", "Home")</li>
                    </ul>
                    <ul class="list-group-item" onclick="ShowList(event);">
                        <li class="it">@Html.ActionLink("Гостиные", "LivingRoom", "Home")</li>
                    </ul>
                    <ul class="list-group-item" onclick="ShowList(event);">
                        <li class="it">@Html.ActionLink("Торговая мебель", "Trade", "Home")</li>
                    </ul>
                    <ul class="list-group-item" onclick="ShowList(event);">
                        <li class="it">@Html.ActionLink("Офисная мебель", "Office", "Home")</li>
                    </ul>
                    <ul class="list-group-item" onclick="ShowList(event);">
                        <li class="it">
                            <a onclick="Show(event);">Дополнительные услуги</a>
                            <ul style="display:none">
                                <li>@Html.ActionLink("Раскрой + ПВХ", "PVC", "Home")</li>
                                <li>@Html.ActionLink("Фасады", "Facade", "Home")</li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="list-group-item">
                        <li class="it">@Html.ActionLink("Цены", "Price", "Home")</li>
                    </ul>
                </div>

                @RenderBody()
            </div>
    </div>

    <a href="#feedback-modal">
        <div id="feedback" class="hidden-xs" data-spy="affix" data-offset-top="-1" onclick="ShowFeedbackWindow(event);"></div>
    </a>
    @Ajax.ActionLink("link", "FeedbackWindow", "Home", new { }, new AjaxOptions
    {
        UpdateTargetId = "feedback-body",
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace
    },
    new
    {
        @id = "feedback-link",
        @style = "visibility:hidden"
    });

    <div id="feedback-modal" class="modal fade" data-keyboard="true" role="dialog">
        <div class="modal-dialog modal-sm flex-container" style="margin-top:15%">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Оставьте ваш номер и мы с Вами обязательно свяжемся</h2>
                </div>
                <div id="feedback-body" class="modal-body">
                </div>
            </div>
        </div>
    </div>

    <section id="vaneer" class="flip vaneer">
        <p style="left:-5px">Шпон</p>
        <div class="flip-content">
            <p>Каталог шпона</p>
            <a href="/VeneerCatalog">
                <img class="dsp-img" src="/Files/vaneer.png" alt="Шпон" style="width:40%"/>
            </a>
        </div>
    </section>
    <section id="dsp" class="flip dsp">
        <p>Каталог ДСП</p>
        <div class="flip-content">
            <p>Каталог ДСП</p>
            <a href="/DSPCatalog">
                <img class="dsp-img" src="/Files/dsp.png" alt="ДСП" />
            </a>
        </div>
    </section>
    <section id="mdf" class="flip mdf">
        <p>Каталог МДФ</p>
        <div class="flip-content">
            <p>Каталог МДФ фасадов</p>
            <a href="/MDFCatalog">
                <img class="dsp-img" src="/Files/mdf.png" alt="МДФ" style="margin-top: -1px" />
            </a>
        </div>
    </section>
    <section id="table" class="flip table">
        <p>Столешницы</p>
        <div class="flip-content">
            <p>Каталог столешниц</p>
            <a href="/TabletopCatalog">
                <img class="dsp-img" src="/Files/table.png" alt="Столешницы"/>
            </a>
        </div>
    </section>

    <div id="footer" class="hidden-xs hidden-sm">
        <hr />
        <div class="footer-content">
            <div class="col-md-4">
                <p>ЧПТУП "ГЕОМАГМАСТИЛЬ" ул. Машинистов 80а</p>
            </div>

            
            <div id="footer-menu" class="col-md-4">
                <ul>
                    <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                    <li>@Html.ActionLink("Кухни", "CornerKitchen", "Home")</li>
                    <li>@Html.ActionLink("Шкафы-купе", "Locker", "Home")</li>
                    <li>@Html.ActionLink("Гардеробные", "DressingRoom", "Home")</li>
                </ul>
                <img id="footer-img" src="/Files/logo.gif" alt="Геомагмастиль"/>
            </div>
            <div id="footer-contacts" class="col-md-4">
                <div>Как с нами связаться</div>
                <div class="footer-icon velcom">+37529 6733574</div>
                <div class="footer-icon skype">geomagma.by</div>
                <div class="footer-icon email">alex@geomagma.by</div>
            </div>
        </div>
    </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/Scripts/show.js")
        @RenderSection("scripts", required: false)
</body>
</html>
