﻿@model string
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
        <h1>@Model</h1>
    </div>
</body>
</html>
