﻿body {
    padding-top: 68px;
    padding-bottom: 20px;
    overflow-x: hidden !important;
    font-family: Lato;
}

@font-face {
    font-family: "AnfisaGroteskRegular";
    src: url("../fonts/AnfisaGrotesk.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Medium.ttf");
    font-style: normal;
    font-weight: normal;
}

.intro {
    text-align: center;
    font-size: 15px;
}

h1,h2,h3,h4,h4{
    font-family: AnfisaGroteskRegular;
}

h1{
    font-size: 32px;
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

h4{
    margin-bottom: 20px;
}

strong{
    font-size: 16px;
    color: #e20025;
}

a:hover,
a:focus {
    text-decoration: none;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*-----------------------Self---------------------------------*/

li > a{
    text-align: center;
    text-decoration: none;
}

.zero-padding{
    padding: 0px;
}

.overflow-hide{
    overflow: hidden;
}

.overflow{
    overflow: visible;
}

.no-border{
    border: 0px solid #fff;
}

/*---------------Carousel styles------------------*/

#mycarousel{
    overflow: hidden;
    /*padding-top: 50px;*/
    padding-left: 0px;
    padding-right: 0px;
    margin-left: -15px;
    margin-right: -15px;
}

#mycarousel > a{
    background-image: none;
    z-index: 0;
}

#closecarousel{
    top: 55px;
    right: 30px;
    position: absolute;
    z-index: 1;
    font-size: 25px;
    color: #C3C3C3;
}

#closecarousel:hover,
#closecarousel:focus{
    color: #fff;
}

.carousel-control{
    width: 5%;
}

.carousel-img{
    max-height: 350px;
    background-size: cover;
}

/*------------Catalog carousel--------------------*/

#catalogcarousel > a{
    background-image: none;
}

/*---------------Catalog styles--------------------------*/

.catalog{
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.el-left{
    position: relative;
    width: 40%;
    overflow: hidden;
    float: left;
    margin-bottom: 3%;
    margin-left: 8%;
}

.el-right{
    position: relative;
    width: 40%;
    overflow: hidden;
    float: right;
    margin-bottom: 3%;
    margin-right: 8%;
}

.dsp-el{
    position: relative;
    width: 33.3%;
    height: auto;
    margin-bottom: 5%;
    float: left;
}

.mdf-el{
    position: relative;
    width: 10%;
    height: auto;
    margin-bottom: 5%;
    float: left;
}

.dsp-el > img{
    width: 100%;
    height: auto;
}

.overlay{
    background: rgba(0,0,0,0.5);
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    left: 0px;
    bottom: -1px;
    text-align: center;
    padding: 10px;
}

/*----------------Modal window styles---------------------*/

.modal-body > img{
    width: 100%;
    height: auto;
}

.flex-container{
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin-top: 10%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.loading{
    position: absolute;
    display: block;
    background: #555 url('http://jeevee.ru/images/loader.gif') center center no-repeat;
    opacity: 0.7;
}

@media screen and (max-width:768px){
    .modal-lg{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .loading{
        width: 300px;
        height: 225px;
    }
}

@media screen and (min-width:768px){
    .modal-lg{
        width: 500px;
    }
    .loading{
        width: 500px;
        height: 375px;
    }
}

@media screen and (min-width:992px){
    .modal-lg{
        width: 700px;
    }
    .loading{
        width: 700px;
        height: 525px;
    }
}

/*----------------Scroll Up button styles-----------------*/

#top-link.affix-top{
    position: absolute;
    bottom: -82px;
    right: 10px;
}

#top-link.affix{
    
    position: fixed;
    bottom: 20px;
    right: 10px;
}

#up-link{
    background-color: #BAE3FF;
    border-color: #BAE3FF;
    color:#FDFDFD;
    border-width: 1px;
}

#up-link:hover{
    border-radius: 15px;
}

/*--------------Navbar styles------------------*/

#logo{
    width: 16.66%;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#logo-img{
    width: 125px;
    height: 120px;
}

.col-md-1 > img{
    width: 80px;
    height: 80px;
}

.col-md-1 > ul{
    padding-left: 0px;
    text-align: center;
    margin-bottom: 0px;
}

.dropdown{
    list-style-type: none;
}

.navbar-default{
    background-color: #000000;
    border-color: #93c3ff;
    border-width: 0px;
    color: #ecf0f1;
    height: 120px;
}

.navbar-item > a{
    color: #ecf0f1;
}

.navbar-item:hover,
.navbar-item:focus{
    opacity: 0.8;
    background-color: #c1bbb6;
}

.dropdown-menu{
    margin: 0px;
}

.nav-easy{
    height: 40px;
    width: 90px;
    margin-left: -5px;
}

#kitchen,#room,#price,#special,#dressroom, #locker{
    padding-top: 10px;
}

@media(max-width:992px){
    .navbar-item-tablet{
        width: 12.5%;
        float: left;
    }
}

@media(max-width:768px){
    .navbar-item-tablet{
        float: none;
        width: auto;
    }
    .nav-easy{
        width: auto;
        height: auto;
        padding-bottom: 5px;
        margin-left: 0px;
    }
    .col-md-1{
        padding-left: 0px;
        padding-right: 0px;
    }
    .navbar-collapse{
        padding-left: 0px;
        padding-right: 0px;
    }
    #kitchen, #room, #price, #special, #dressroom, #locker, #trade, #office{
        padding-top: 5px;
    }
    .navbar-item:hover,
    .navbar-item:focus {
        opacity: 1.0;
    }
}

#info{
    display: flex !important;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #E5A637;
}

.info-message{
    margin-top: 10px;
    margin-bottom: 0px;
}

@media(max-width: 1100px) {
    .info-message{
        font-size: 25px;
    }
}

.header-icon{
    width: auto;
    padding-left: 20px;
    padding-top: 5px;
    font-size: 13px;
}

.velcom-header{
    background: url("/Files/icons/velcom.png") no-repeat scroll 0 4px transparent;
}

.skype-header{
    background: url("/Files/icons/skype.png") no-repeat scroll 0 6px transparent;
}

.email-header{
     background: url("/Files/icons/email.png") no-repeat scroll 0 6px transparent;
}

/*-------------Body styles-------------*/
.body-background{
    background: url("/Files/background.png") repeat;
    float: left;
    width: 100%;
}

#content{
    margin-left: 7%;
    margin-right: 15%;
}

#flex-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*------------Float list-------------*/

#mylist.affix{
    top: 200px;
}

#mylist{
    padding-top: 50px;
}

#mylist > ul{
    list-style-type: none;
}

.it > ul{
    list-style-type: none;
    padding-left: 25px;
}

.list-group-item{
    background-color: transparent;
    border: 0px;
}

.description{
    margin-top: 10px;
    margin-bottom: 20px;
}

.description > div{
    text-align: center;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 15px;
}

/*--------------------Price tables-------------------*/

.col-md-offset-3{
    color: #f6fdff;
}

/*--------------------Flip styles-------------------*/

.flip{
    position: absolute;
    width: 200px;
    height: 106px;
    right: -170px;
    top: 150px;
    border: 2px solid #777;
    border-width: 2px 2px 2px 2px;
    background-color: #232323;
    box-sizing: border-box;
    padding: 5px;
    margin-right: 0px;
    font-size: 15px;
    text-align: center;
}

.flip > p{
    color: #2dff1c;
    transform: rotate(90deg);
    position: absolute;
    left: -30px;
    bottom: 30px;
}

.flip.dsp{
    top: 266px;
}

.flip.mdf{
    top: 382px;
}

.flip.table{
    top: 498px
}

.flip-content{
    color: #2dff1c;
    text-align: center;
    display: none;
}

.flip-content > p{
    margin: 0px;
}

.dsp-img{
    width: 60%;
    height: auto;
}

/*--------------------Footer style-----------------*/

hr{
    border: 1px solid #4C4C4C;
}

#footer{
    color: #fff;
    font-size: 14px;
}

.footer-content{
    margin-left: 10%;
    margin-right: 10%;
}

#footer-menu{
    padding-left: 15px;
    float: left;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#footer-menu ul{
    padding-left: 0px;
}

#footer-menu li{
    list-style-type: none;
    background: url("/Files/separator.png") 0 4px no-repeat;
    padding-left: 4px;
    padding-right: 2px;
    float: left;
}

#footer-menu li:first-child{
    background: none;
}

#footer-img{
    width: 150px;
    height: auto;
}

#footer-contacts{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.footer-icon{
    width: 130px;
    padding-left: 20px;
    padding-top: 10px;
}

.velcom{
    background: url("/Files/icons/velcom.png") no-repeat scroll 0 11px transparent;
}

.skype{
    background: url("/Files/icons/skype.png") no-repeat scroll 0 13px transparent;
}

.email{
     background: url("/Files/icons/email.png") no-repeat scroll 0 13px transparent;
}

.flex-column{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.flex-row{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.img-circle{
    margin-bottom: 20px;
}

/*---------------------Feedback style------------------*/

#feedback{
    width: 65px;
    height: 65px;
    padding: 0px;
    margin: 0px;
    background: url("../Files/mail.png");
}

#feedback.affix{
    bottom: 25px;
    right: 50px;
}

#phoneform{
    margin: 10px;
}

@media(min-width: 768px){
    .modal-sm{
        width: 550px;
    }
    #phoneform{
        width: 500px;
    }
    .field-validation-error{
        left: 90px;
    }
    .result-message{
        left: 100px;
    }
}

@media(max-width: 768px){
    .modal-sm{
        width: 300px;
    }
    #phoneform{
        width: 160px;
    }
    .field-validation-error{
        left: 25px;
    }
    .result-message{
        left: 25px;
    }
}

.field-validation-error{
    font-size: 10px;
    color: red;
    position: absolute;
    top: 10px;
}

.result-message{
    position:absolute;
    bottom: 0px;
}

/*------------------------Map style-------------------*/

.shop-info{
    height: 100px;
    width: auto;
}

#canvas{
    height: 220px;
    width: auto;
}