﻿@section CarouselSection{}

<div class="col-md-offset-3">
    <img src="/Files/Catalog/Facade/shpon.jpg" style="width:100%;" />
    <h2>Оклейка шпоном и бумажно-слоистым пластиком</h2>
    <p>
        <img class="col-xs-5" align="right" src="/Files/Catalog/Facade/veneer.jpg" />
        Оклейка шпоном — это наклеивание древесного шпона на поверхность панелей и столярных изделий.
        Что такое Шпон? Шпон - это тонкий срез древесины (от 0,2 мм до 3 мм), который наклеивают на основу (плиты МДФ, ДСП, фанера).
        Шпон бывает натуральный (строганый) и восстановленный (файнлайн). Благодаря оклейке шпоном (шпонированию),
        изделие приобретает более красивый внешний вид, увеличивается его прочность.
        Плита покрытая шпоном древесины ценных пород - дешевле таких же по внешнему виду изделий изготовленых из массива древесины ценных пород.
        Наша компания фанерует (шпонирует) натуральным шпоном ценных пород дерева: дуб, бук, ольха, ясень, клен, черешня, орех амер, макоре, 
        сапели, анегре, кото, а также шпон Fine line.
    </p>
    <h2>Технология оклейки шпоном</h2>
    <p>
        Клей наносят на основание, накрывают облицовочным материалом и выдерживают под прессом в горячем и холодном режиме. Для
        этого идеально подходят клеи на основе водной дисперсии поливинилацетата (ПВА), так как они имеет хорошую адгезию (прилипание)
        шпону. Производя фанерование шпоном на заказ, мы дополнительно предлагаем раскрой материала на детали, оклейку кромок, покрытие
        деталей лаком, подбор цвета.
    </p>

    <h2>Изготовление фасадов МДФ</h2>
    <p>
        <img class="col-xs-5" align="left" src="/Files/Catalog/Facade/colored_facade.jpg" style="float:right"/>
        Наша компания оказывает полный комплекс услуг по изготовлению фасадов МДФ.
        Более 10 лет занимаемся покраской мебельных изделий, фасадов МДФ, шпона, стекла любых форм и размеров, используя высококачественные
        итальянские лакокрасочные материалы. В изготовлении крашеных фасадов МДФ применяется итальянская окрасочная система замкнутого цикла.
        Как правило, для покраски используют финские и итальянские мебельные краски.
        Мебельные фасады из МДФ, покрытые эмалью бывают двух видов: матовые и глянцевые. Фасады могут быть окрашены как с одной,
        так и с двух сторон.
        <text>На крашенные фасады наносятся различные спецэффекты: </text>
        <ul>
            <li>глянец</li>
            <li>металлик</li>
            <li>звездное небо</li>
            <li>перламутр</li>
            <li>краколет</li>
        </ul>
    </p>
    
    <h2>Гнутые фасады из МДФ</h2>
    <p>
        <img class="col-xs-5" src="/Files/Catalog/Facade/curve_f.jpg" align="right"/>
        На сегодняшний день, кухни с гнутыми фасадами - это кухни самого высокого класса, т.к. мебель такой формы создается на заказ. 
        Компания "ГЕОМАГМАСТИЛЬ" занимается производством фасадов из МДФ любой сложности для кухонь, ванных комнат и гостиных.
        Основным преимуществом гнутых фасадов, несомненно, является оригинальная форма, она позволяет по-новому взглянуть на оформление кухонных шкафчиков.
        Наше производство принимает заказы на изготовление гнутых фасадов с радиусами: R240, R450, R1000, а также других нестандартных размеров.
    </p>

    <h2>Фрезеровка фасадов</h2>
    <p>
        <img class="col-xs-5" src="/Files/Catalog/Facade/milling.jpg" align="left" style="float:right" />
        Фасады производят на профессиональном оборудовании с минимальным участием ручного труда. Использования станка с ЧПУ позволяет 
        добиться идеального качества и любых форм.
    </p>
</div>
