﻿@using Template.Models
@model ClientData

@using (Ajax.BeginForm("SendNotification", "Home", 
new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "upd",
    InsertionMode = InsertionMode.Replace
},
new { @class = "form-inline flex-row" }))
{
    <span style="font-weight:bold">+</span>
    @Html.EditorFor(model => model.phone,
    new
    {
        htmlAttributes = new
        {
            @class = "form-control",
            @type = "tel",
            @placeholder = "37544 1234578",
            @id = "phoneform",
            @pattern = "[0-9]"
        }
    })
    @Html.ValidationMessageFor(model => model.phone)
    <button type="submit" class="btn btn-default">Отправить</button>
    <div id="upd"></div>
}