﻿@section CarouselSection{
    <div id="closecarousel" onclick="CloseCarousel(event);">
        <span class="glyphicon glyphicon-remove"></span>
    </div>
    <div id="mycarousel" class="carousel slide" data-ride="carousel" data-interval="3700">
        <ol class="carousel-indicators">
            <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
            <li data-target="#mycarousel" data-slide-to="1"></li>
            <li data-target="#mycarousel" data-slide-to="2"></li>
            <li data-target="#mycarousel" data-slide-to="3"></li>
            <li data-target="#mycarousel" data-slide-to="4"></li>
            <li data-target="#mycarousel" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="carousel-img img-responsive" src="/Files/Carousel/1.jpg" alt="Корпусная мебель" />
            </div>
            <div class="item">
                <img class="carousel-img img-responsive" src="/Files/Carousel/2.jpg" alt="Кухня в светлый тонах" />
            </div>
            <div class="item">
                <img class="carousel-img img-responsive" src="/Files/Carousel/3.jpg" alt="Кухня по индивидуальному проекту"/>
            </div>
            <div class="item">
                <img class="carousel-img img-responsive" src="/Files/Carousel/4.jpg" alt="Кухня" />
            </div>
            <div class="item">
                <img class="carousel-img img-responsive" src="/Files/Carousel/5.jpg" alt="Гостинная" />
            </div>
            <div class="item">
                <img class="carousel-img img-responsive" src="/Files/Carousel/6.jpg" alt="Спальня"/>
            </div>
        </div>
        <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="padding-left:40px"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="padding-right:40px"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
}

<div class="col-md-offset-3">
    <h1>Компания Геомагмастиль изготовит кухни, шкафы-купе, гардеробные на заказ</h1>
    <p class="intro">
        Наша компания Геомагмастиль была создана более 10 лет назад. За это время мы расширили производство
        и предлагаем клиентам весь ассортимент корпусной мебели - <strong>@Html.ActionLink("кухни", "CornerKitchen", "Home")</strong>
        , <strong>шкафы-купе</strong>, <strong>гардеробные</strong>, а также мы освоили весь процесс изготовлении мебели, 
        включая, <strong>@Html.ActionLink("изготовление фасадов", "Facade", "Home")</strong>, покраска, <strong>оклейка шпоном</strong> и <strong>пластиком</strong>.
        Наша мебель индивидуальна, наши дизайнеры помогут Вам придумать свой неповторимый стиль или мы изготовим ваш собственный проект.
        Мы не выставляемся в салонах, а также не тратим деньги на дорогую рекламу. Поэтому стоимость нашей мебели дешевле на 10-30 %.
        При изготовлении мебели мы используем только качественную фурнитуру, а также экологически чистые материалы.
        Также мы покрасим для вас <strong>фасады</strong>, <strong>стекло</strong> и многое другое на дорогом итальянском оборудовании. 
        Изготовим любые фасады и формы с использованием фрезеровочного станка с ЧПУ.
        Особое внимание мы уделяем изготовлению изделий покрытых шпоном. Используя промышленный пресс горячего прессования 
        мы добились идеального качества изделий.
        Наши кухни, шкафы, гардеробные - это эталон <strong>качества</strong> и <strong>стиля</strong>!
    </p>
    
    <div class="description col-md-12">
        <div class="col-md-4">
            <h3>Кухни</h3>
            <p>
                @Html.ActionLink("Современная кухня", "CornerKitchen", "Home") – это не только место, где готовится пища, но еще и помещение,
                где за обеденным столом собирается вся семья. Естественно, что в условиях социально-экономической нестабильности,
                подавляющее большинство клиентов стараются выбирать более экономичные варианты. Существует огромное количество салонов,
                в которых делают кухни и мебель на заказ. Однако, не во всех салонах продается по-настоящему хорошая кухня. 
                Наша компания предложит Вам как элитную дорогую кухню, но также и бюджетный вариант, 
                при этом качество кухонь будет одинаковым.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Шкафы-купе</h3>
            <p>
                @Html.ActionLink("Самый популярный вид мебели", "Locker", "Home") – это шкаф-купе. Сегодня его можно встретить практически в каждой квартире. 
                Большой, вместительный шкаф-купе поможет навести в квартире порядок. Шкафы-купе настолько удобны в использовании,
                что давно уже считаются одним из самых удачных и функциональных мебельных решений для хранения. 
                Наша компания изготовит для вас любой шкаф-купе по вашему персональному проекту
                или наши дизайнеры предоставят Вам готовые решения и помогут найти идеальное решение для вашей квартиры. 
                Наши цены на шкафы-купе в Минске — одни из лучших в городе! 
            </p>
        </div>
        <div class="col-md-4">
            <h3>Гардеробные</h3>
            <p>
                @Html.ActionLink("Гардеробная комната", "DressingRoom", "Home") должна быть эргономичной и многофункциональной. 
                В гардеробной на заказ максимально используется пространство всей комнаты, в зависимости от потребностей.
                Огромное количество всевозможных решений по организации хранений вещей в гардеробной на заказ предложит Вам наша компания.
                Наши дизайнеры помогут Вам создать свой неповторимый проект гардеробной.
            </p>
        </div>
    </div>

    <div id="order">
        <h2 style="padding-bottom: 20px">КАК СДЕЛАТЬ ЗАКАЗ</h2>

        <div class="flex-column col-md-3">
            <img class="img-circle" src="/Files/girl.png" alt="Ваш звонок" />
            <h3>Оставьте заявку на сайте</h3>
            <p>Оставьте свою заявку и мы обязательно с вами свяжемся!</p>
        </div>
        <div class="flex-column col-md-3">
            <img class="img-circle" src="/Files/designer.jpg" alt="Выезд дизайнера" />
            <h3>Консультация с дизайнером</h3>
            <p>Дизайнер выполнит точный замер помещения, проконсультирует вас по материалам и фурнитуре</p>
        </div>
        <div class="flex-column col-md-3">
            <img class="img-circle" src="/Files/factory.jpg" alt="Изготовление" />
            <h3>Изготовление вашего заказа</h3>
            <p>Заказанная вами мебель будет произведенена в течение 2-3 недель в зависимости от объема работ</p>
        </div>
        <div class="flex-column col-md-3">
            <img class="img-circle" src="/Files/build.jpg" alt="Сборка" />
            <h3>Установка вашей мебели</h3>
            <p>Высококлассифицированные сборщики быстро и качественно установят Вашу мебель. Ведь правильно установленная мебель гарантирует долговечность мебели</p>
        </div>
    </div>
</div>

