﻿@section CarouselSection{}
@model IList<string>

<div id="myModal" class="modal fade" data-keyboard="true" role="dialog">
    <div class="modal-dialog modal-lg">
        <div id="highResolution" class="flex-container modal-body">
            <img src="" />
            <a class="left carousel-control" role="button" onclick="UpdateImage(event);">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" role="button" onclick="UpdateImage(event);">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
        @Ajax.ActionLink("Link", "ShowImageInHighResolution", "Home", new { prevImage = "", dir = "" },
                             new AjaxOptions { UpdateTargetId = "highResolution", InsertionMode = InsertionMode.Replace },
                             new { @id = "updateimage", @style = "visibility:hidden" })
    </div>
</div>

<div id="flex-box" class="col-md-offset-3">
    <h2 style="margin-bottom: 30px">Шкафы-купе</h2>

    <div id="updatesection">
        @{
            Html.RenderPartial("ShowImageList", Model);
        }
    </div>

    @Ajax.ActionLink("Link", "Locker", "Home", new { paginationIndex = "" }, new AjaxOptions { UpdateTargetId = "updatesection" },
                     new { @id = "updatelink", @style = "visibility:hidden" })

    <ul id="pag" class="pagination">
        <li onclick="AjaxClick(event);"><a>«</a></li>
        @for (int i = 1; i < ViewBag.Count + 1; i++)
        {
            if (i == 1)
            { <li class="active" onclick="AjaxClick(event);"><a>1</a></li> }
            else
            { <li onclick="AjaxClick(event);"><a>@i</a></li>}
        }
        <li onclick="AjaxClick(event);"><a>»</a></li>
    </ul>
</div>



