﻿@section CarouselSection{}
@model IList<string>

<div class="col-md-offset-3">
    <h2>Каталог МДФ Фасадов для кухни</h2>
    <p>МДФ (MDF — Medium Density Fiberboard) — это прессованные при больших температурах и давлении мелкие волокна древесины. При его изготовлении не используются вредные для здоровья смолы и фенол, поэтому МДФ является экологичным материалом для производства мебели.</p>
    <img src="/Files/mdf_.png" style="width:100%"/>
    <p>Кухни с крашеными МДФ фасадами сейчас особенно популярны. Благодаря широкому выбору цветовой гаммы, кухни приобретают эксклюзивный, неповторимый дизайн. Кухни, фасады которых изготовлены из крашенного МДФ, выглядят стильно и современно. Подбор цвета крашеных фасадов МДФ осуществляется по специальной карте цветов RAL. Кроме этого, по желанию клиента, фасады могут изготавливаться с глянцевой или матовой поверхностью, с перламутром или блестками. Но крашенные фасады существенно дороже пленочных.</p>
    <img src="/Files/ral.png" style="width:100%"/>
    <p>Кухни с пленочными фасадами МДФ наиболее популярны среди широкого ассортимента других кухонных фасадов. В первую очередь, одно из преимуществ таких фасадов – это широкая цветовая гамма пленок и невысокая стоимость.
Благодаря огромному выбору пленок на сегодняшний день, можно подобрать любой подходящий Вам цвет и это будет намного дешевле крашенного МДФ фасада.</p>
    <h2>Некоторые варианты пленок</h2>

    @foreach(string str in Model)
    {
        <img class="mdf-el" src="/Files/Catalog/MDF/@str" />
    }
</div>

