﻿@using System.Data;
@section CarouselSection{}

<div class="col-md-offset-3">

    <h2>Прайс-лист на изготовление фасадов МДФ, покрытых бумажно-слоистым пластиком ABET, Laminati, Arpa, Resopal</h2>
    <table class="table">
        <tbody>
            @{
                DataTable table = ViewBag.Plastic;
                foreach (DataRow row in table.Rows)
                {
                    <tr>
                        @foreach (Object obj in row.ItemArray)
                        {
                            <td>@obj</td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>

    <h2>Поклейка кромкой ПВХ</h2>
    <table class="table">
        <tbody>
            @{ 
                DataTable face = ViewBag.Face;
                foreach(DataRow row in face.Rows)
                {
                    <tr>
                        @foreach(Object obj in row.ItemArray)
                        {
                            <td>@obj</td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>

    <h2>Изготовление изделий покрытых шпоном и полиуретановыми, акриловыми лаками фирмы IKA (Италия), Barpimo (Испания)</h2>
    <table class="table">
        <tbody>
            @{ 
                DataTable vaneerL = ViewBag.VaneerL;
                foreach(DataRow row in vaneerL.Rows)
                {
                    <tr>
                        @foreach(Object obj in row.ItemArray)
                        {
                            <td>@obj</td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>

    <h2>Криволинейные</h2>
    <table class="table">
        <tbody>
            @{ 
                DataTable vaneerC = ViewBag.VaneerC;
                foreach(DataRow row in vaneerC.Rows)
                {
                    <tr>
                        @foreach(Object obj in row.ItemArray)
                        {
                            <td>@obj</td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
    
    <h2>Изготовление фасадов покрытых полиуретановыми и акриловыми лаками фирмы ICA (Италия), Barpimo (Испания)</h2>
    <h3>Крашенный МДФ</h3>
    <table class="table">
        <tbody>
            @{
                DataTable mdf = ViewBag.MDF;
                foreach (DataRow row in mdf.Rows)
                {
                    <tr>
                        @foreach (Object obj in row.ItemArray)
                        {
                            <td>@obj</td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>

    <h3>Покраска материала заказчика</h3>
    <table class="table">
        <tbody>
            @{
                DataTable other = ViewBag.Other;
                foreach (DataRow row in other.Rows)
                {
                    <tr>
                        @foreach (Object obj in row.ItemArray)
                        {
                            <td>@obj</td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>

    <p style="color:#03A9F4; font-size:12px">Все цены указаны в € для ознакомления. Расчет производится только в белорусских рублях по курсу национального банка.</p>
</div>