﻿@section CarouselSection{}

<div class="col-md-offset-3">
    <img src="/Files/Catalog/PVC/kromka.jpg" style="width:100%;"/>
    <h2>Оклейка кромкой ПВХ</h2>
    <img class="col-xs-5" src="/Files/Catalog/PVC/kr.jpg"/>
    <p>Известно несколько способов торцевания мебели из ДСП, МДФ и ЛДСП. Самый популярный и наиболее эффективный из них – это оклейка
кромкой ПВХ. Кромка ПВХ – это пластиковая полоска, изготовленная из поливинилхлорида, имеющая толщину 1 мм, 2 мм, которая наносится на
торцевую поверхность деталей с помощью специального оборудования с использованием высокотемпературного клея. Кромка ПВХ
защищает изделие от влаги и предотвращает испарение смол, имеет красивый и эстетичный внешний вид. Наше оборудование позволяет
качественно выполнять оклейку торцов деталей кромкой пвх любой конфигурации, как прямолинейных, так и изогнутых. Перед оклейкой
производится подфуговка торца ДСП, ЛДСП и МДФ, с помощью которой убираются все микросколы ламината и ступенька.
Срок исполнения заказа по оклейке кромкой ПВХ составляет 1-4 дня в зависимости от объема работ.</p>
</div>

