﻿@model string

<b class="loading"></b>
<img src="/Files/Catalog/@Model" onload="LoadImage(event);"/>
<a class="left carousel-control" role="button">
    <span class="glyphicon glyphicon-chevron-left" onclick="UpdateImage(event);"></span>
</a>
<a class="right carousel-control" role="button">
    <span class="glyphicon glyphicon-chevron-right" onclick="UpdateImage(event);"></span>
</a>