﻿@model IList<string>

@for (int i = 0; i < Model.Count; i++)
{
    if (i % 2 == 0)
    { <img class="el-left" src="/Files/Catalog/@Model[i]" alt onclick="ShowModal(event);"/> }
    else
    { <img class="el-right" src="/Files/Catalog/@Model[i]" alt onclick="ShowModal(event);"/> }
}