﻿@section CarouselSection{}
@model IList<string>

<div class="col-md-offset-3">
    <h2>Декоры столешниц</h2>
    <div style="margin-left:auto;margin-right:auto">
        @foreach(string str in Model)
        {
            //int endPos = str
            <div class="dsp-el">
                <img src="/Files/Catalog/Tabletop/@str" />

            </div>
        }
    </div>
</div>

