﻿@section CarouselSection{}
@model IList<string>

<div class="col-md-offset-3">
    <h2>Шпон</h2>
    <div style="margin-left:auto;margin-right:auto;">
        @foreach(string str in Model)
        {
            int endPos = str.IndexOf(".");
            string name = str.Substring(0, endPos);
            <div class="dsp-el">
                <img src="/Files/Catalog/Vaneer/@str" title="@name" alt="@name" />
                <div class="overlay">
                    <div>@name</div>
                </div>
            </div>
        }
    </div>
</div>
